In [10]:
import pandas as pd

# Job Cleaning

In [11]:
# -----------------------
# Utility: clean URLs, emails, phone numbers
# -----------------------

def clean_text(text: str) -> str:
    # Remove web links
    text = re.sub(r"http\S+|www\.\S+", " ", text)
    # Remove email addresses
    text = re.sub(r"\S+@\S+", " ", text)
    # Remove phone numbers (digits, dashes/spaces, length ≥9)
    text = re.sub(r"\+?\d[\d\-\s]{7,}\d", " ", text)
    # Collapse all consecutive whitespace into single spaces
    text = re.sub(r"\s+", " ", text)
    return text.strip()

In [12]:
# -----------------------
# Utility: load & prepare raw job data
# -----------------------

def load_and_prepare_jobs(data_path: str) -> pd.DataFrame: 
    # Read CSV into DataFrame
    df = pd.read_csv(data_path)
    # Reset index to ensure continuous integer IDs
    df = df.reset_index(drop=True)
    # Rename Job-Title column to Job_title
    df = df.rename(columns={'Job-Title': 'Job_title'})
    # Drop any rows missing essential fields
    df = df.dropna(subset=["Job_title", "Description", "Location"]).copy()
    # Create a unique job_id based on the DataFrame index
    df["job_id"] = df.index.astype(int)

    df["title_clean"] = df["Job_title"].apply(clean_text)
    df["desc_clean"] = df["Description"].apply(clean_text)
    df["text"] = df["title_clean"] + " " + df["desc_clean"]
    return df

In [13]:

# Store the job data
df = load_and_prepare_jobs(JOB_DATA_PATH)
df.to_csv(r"C:\Yousuf\DEPI\Technical\Mega Projects\Job_Recommendation_System\data\Processed\cleaned_data\job_cleaned.csv", index=False)
df

,Job_title,Date-Posted,Company,Job-Type,Salary,Location,Description,job_id,title_clean,desc_clean,text
0,"Bachelor of Science, Nursing Instructor Part...",2023-04-25,Red Deer College,Full-time,NaN,"Red Deer, AB",Position Information\n\nPosition Title\n\nBach...,0,"Bachelor of Science, Nursing Instructor Part T...",Position Information Position Title Bachelor o...,"Bachelor of Science, Nursing Instructor Part T..."
1,PHD Graduate Student,2023-04-19,IDOBE Research Group,Full-time,NaN,"Edmonton, AB",The IDOBE (Intelligent Design & Operation for ...,1,PHD Graduate Student,The IDOBE (Intelligent Design & Operation for ...,PHD Graduate Student The IDOBE (Intelligent De...
2,Central Graduate Advisor,2023-04-19,University of Alberta,Full-time,"$47,210–$63,741 a year","Edmonton, AB",FGSR Grad Studies & Rsrch Admi\n\nCompetition ...,2,Central Graduate Advisor,FGSR Grad Studies & Rsrch Admi Competition No....,Central Graduate Advisor FGSR Grad Studies & R...
3,Student/Graduate Application,2023-04-20,Eagle Builders LP,Internship,NaN,"Blackfalds, AB",Eagle Builders welcomes and offers work experi...,3,Student/Graduate Application,Eagle Builders welcomes and offers work experi...,Student/Graduate Application Eagle Builders we...
4,"Advisor, Graduate Student Experience, Haskayne...",2023-04-12,University of Calgary,Full-time,NaN,"Calgary, AB",University of Calgary\nRSS Jump to Headline Ho...,4,"Advisor, Graduate Student Experience, Haskayne...",University of Calgary RSS Jump to Headline Hom...,"Advisor, Graduate Student Experience, Haskayne..."
...,...,...,...,...,...,...,...,...,...,...,...
40056,Bike Centre Volunteer (Fall 2022),NaN,Bike Centre,NaN,NaN,"Waterloo, ON",Service Description: The Bike Centre is a do-i...,40056,Bike Centre Volunteer (Fall 2022),Service Description: The Bike Centre is a do-i...,Bike Centre Volunteer (Fall 2022) Service Desc...
40057,Volunteer Program Coordinator,2023-04-05,The Food Bank of Waterloo Region,Full-time,NaN,"Kitchener, ON",Volunteer Program Coordinator\n\nAdministratio...,40057,Volunteer Program Coordinator,Volunteer Program Coordinator Administration K...,Volunteer Program Coordinator Volunteer Progra...
40058,Volunteer Coordinator,NaN,Alzheimer Society Waterloo Wellington,Part-time,NaN,"Kitchener, ON",About the job\n\nJOB SUMMARY\n\nThis position ...,40058,Volunteer Coordinator,About the job JOB SUMMARY This position manage...,Volunteer Coordinator About the job JOB SUMMAR...
40059,Summer Camp Volunteer,NaN,Little Medical School - Region of Waterloo,Part-time,NaN,"Kitchener, ON",Do you love working and interacting with child...,40059,Summer Camp Volunteer,Do you love working and interacting with child...,Summer Camp Volunteer Do you love working and ...
40060,Volunteer- Reception House Board - Director,NaN,Reception House,NaN,NaN,"Kitchener, ON",Organization Description\n\nReception House Wa...,40060,Volunteer- Reception House Board - Director,Organization Description Reception House Water...,Volunteer- Reception House Board - Director Or...

# User Data Cleaning

In [16]:
user_df = pd.read_csv('C:\Yousuf\DEPI\Technical\Mega Projects\Job_Recommendation_System\data\Raw\skill2vec_50K.csv')
user_df

C:\Users\Yousuf\AppData\Local\Temp\ipykernel_21780\3217808817.py:1: DtypeWarning: Columns (33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959) have mixed types. Specify dtype option on import or set low_memory=False.
  user_df = pd.read_csv('C:\Yousuf\DEPI\Technical\Mega Projects\Job_Recommendation_System\data\Raw\skill2vec_50K.csv')

,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,onboarding,...,Unnamed: 950,Unnamed: 951,Unnamed: 952,Unnamed: 953,Unnamed: 954,Unnamed: 955,Unnamed: 956,Unnamed: 957,Unnamed: 958,Unnamed: 959
0,Special Teacher,Teaching,Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,consulting,fresher,IT helpdesk,Techincal Troubleshooting,international voice,international BPO,technical support,outsourcing,call center,BBA fresher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,diploma,machining,cnc m,mould,conventional machines,die making,knowledge,tool,cipet,assembly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Compensation,Benefits,HR Functions,Alm,Payroll,ESS,Core HR,QC,QA,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Storage Administrator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,Chief Engineer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49995,Receptionist Activities,Front Desk,front office,front desk executive,front office executive,receptionist,reception,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,SQL Queries,Log Analysis,Hardware Networking,People Leadership,Technical Skills,Unix,Oracle,Service Delivery Management,Database Administration,Continuous Improvement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,Quality Analyst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,PY,Payroll,OM,SAP HCM,PA,Organizational Management,Recruitment,Schema,Functional Consultancy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Produce a list of skills for each profile

In [14]:
def prepare_user_skill_profiles(df: pd.DataFrame):
    # Fill NaNs with empty strings and convert all to string
    df_clean = df.fillna("").astype(str)
    
    # Combine each row's values into a cleaned list of skills
    user_skills = []
    for _, row in df_clean.iterrows():
        skills = [skill.strip().lower() for skill in row if skill.strip()]
        skills = list(dict.fromkeys(skills))  # optional: remove duplicates, preserve order
        user_skills.append(skills)
    
    return user_skills

In [17]:
# Apply the transformation
user_skill_lists = prepare_user_skill_profiles(user_df)

# Show example output
user_skill_lists[:5]

[['special teacher', 'teaching', 'education'],
 ['consulting',
  'fresher',
  'it helpdesk',
  'techincal troubleshooting',
  'international voice',
  'international bpo',
  'technical support',
  'outsourcing',
  'call center',
  'bba fresher',
  'bcom fresher',
  'tech support',
  'voice calling',
  'bpo',
  'sme',
  'bca fresher',
  'mba fresher'],
 ['diploma',
  'machining',
  'cnc m',
  'mould',
  'conventional machines',
  'die making',
  'knowledge',
  'tool',
  'cipet',
  'assembly'],
 ['compensation',
  'benefits',
  'hr functions',
  'alm',
  'payroll',
  'ess',
  'core hr',
  'qc',
  'qa',
  'sql'],
 ['storage administrator']]

In [ ]:
# Store the job data
user_skill_lists.to_csv(r"C:\Yousuf\DEPI\Technical\Mega Projects\Job_Recommendation_System\data\Processed\cleaned_data\skill_list.csv", index=False)